<div class="width-control">
    <div class="inner top contact">
        <h1>ABOUT</h1>
        <p>
            Fill out the form below with general questions, story ideas... anything. We will try to get back to you within 48 hours!
        </p>

        <div class="staff-display">
            <div ng-repeat="person in staffWriting">{{person}}</div>
        </div><!--
        --><div class="staff-display">
            <div ng-repeat="person in staffWeb">{{person}}</div>
        </div><!--
        --><div class="staff-display">
            <div ng-repeat="person in staffBusiness">{{person}}</div>
        </div><!--
        --><div class="staff-display">
            <div ng-repeat="person in staffGraphic">{{person}}</div>
        </div><!--
        --><div class="staff-display">
            <div ng-repeat="person in staffPhotography">{{person}}</div>
        </div>


    </div>
</div>

<div class="full-width white has-shadow">
    <div class="width-control">
        <div class="inner">

            <h1 class="section-header">Come see us in person!</h1>
            <p>
                Our office is located in <b>room m1066</b> in the <b>Engineering Centers Building</b> at <b>1550 Engineering Dr, Madison, WI 53706</b>. There is only someone there a few hours each week, so call ahead before stopping by to make sure someone is there. Our phone number is 608.262.3494.
                <br><br>
                The entire Wisconsin Engineer staff meets every other week in <b>Tong Auditorium</b> in the Engineering Centers Building, and the department heads meet alone during off-weeks.
            </p>

        </div>
    </div>
</div>
