<div class="width-control">
    <div class="inner top contact">
        <h1>Contact Us</h1>
        <p>
            Fill out the form below with general questions, story ideas... anything. We will try to get back to you within 48 hours!
        </p>
        <form>
            <div class="contact-input-wrap">
                <label>Full Name</label>
                <input type="text" ng-model="contactName">
            </div><!--
            --><div class="contact-input-wrap">
                <label>Email Address</label>
                <input type="text" ng-model="contactEmail">
            </div>
            <div class="contact-input-wrap full">
                <textarea placeholder="What's on your mind..." ng-model="contactMessage"></textarea>
            </div>
            <div class="contact-input-wrap full">
                <button class="btn-wem" ng-click="sendForm();" ng-disabled="messageSent">{{sendBtn}} <i class="ion-arrow-right-c"></i></button>
                <small id="send-error" ng-show="sendFailed">We're gonna need you to fill everything in</small>
            </div>
        </form>
    </div>
</div>

<div class="full-width white has-shadow">
    <div class="width-control">
        <div class="inner">

            <h1 class="section-header">Come see us in person!</h1>
            <p>
                Our office is located in <b>room m1066</b> in the <b>Engineering Centers Building</b> at <b>1550 Engineering Dr, Madison, WI 53706</b>. There is only someone there a few hours each week, so call ahead before stopping by to make sure someone is there. Our phone number is 608.262.3494.
                <br><br>
                The entire Wisconsin Engineer staff meets every other week in <b>Tong Auditorium</b> in the Engineering Centers Building, and the department heads meet alone during off-weeks.
            </p>

        </div>
    </div>
</div>
