<div class="width-control" ng-init="checkForEnd();">
    <div class="inner top article-list">
        <div class="article-item" ng-repeat="article in wpArticles track by $index | limitTo: articleLimit">
            <a href="/#/articles/{{$index}}/{{article.slug}}" class="article-item-img" ng-style="{'background-image':'url({{article.thumbnail_images.full.url}})'}"></a>
            <!-- <a href="/#/articles/{{$index}}" class="article-item-img" ng-style="{'background-image':'url({{article.attachments[0].url}})'}"></a> -->
            <div class="article-item-body">
                <a href="/#/articles/{{$index}}/{{article.slug}}" ng-bind-html="article.title | unsafe"></a>
                <span class="article-item-excerpt" ng-bind-html="article.excerpt | unsafe"></span>
                <h3>By {{article.custom_fields.sfly_guest_author_names[0]}}</h3>
            </div>
        </div>
        <div id="list-load-more" ng-click="loadMoreArticles()" ng-class="{'disabled' : endOfList}">
            {{loadButtonText}}
        </div>
    </div>
</div>



<div class="full-width white">
    <div class="width-control">

        <div class="inner">
            <h1 class="section-header">Read more in the archives</h1>
            <p>
                The Wisconsin Engineer magazine is old. Really old. The UW-Madison Library Digital Collection has archives of the Wisconsin Engineer Magazine going back to our first issue published in <b>June, 1896</b>. Click the button below to be taken to the UW Digital Collection page. You'll never run out of content to readd there!
            </p>
            <br>
            <p style="text-align:center;">
                <a href="https://uwdc.library.wisc.edu/collections/uw/uwmadison/wie/" target="_blank" class="btn-wem" style="margin: 0 auto; display: inline-block;">View the archives</a>
            </p>
        </div>

    </div>
</div>
