//out: ../css/nav.css, sourcemap: false, compress: true

@import 'variables.less';

#header-spacefix{
    display: block;
    width: 100%;
    height: @headerheight;
    padding: 25px 0 0 0;
}
header{
    height: @headerheight;
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding: 15px 0 0 0;
    display: block;
    box-sizing: border-box;
    @media only screen and (min-width: 450px) {
        padding: 15px 8% 0 8%;
    }
    @media only screen and (min-width: 700px) {
        padding: 15px 12% 0 12%;
    }
    @media only screen and (min-width: 1000px) {
        padding: 15px 15% 0 15%;
    }
    #menu-btn{
        height: @headerheight;
        width: @headerheight;
        float: right;
        text-align: center;
        color: @white;
        box-sizing: border-box;
        padding: 12px 0px 0 0;
        font-size: 52px;
        display: block;
        &.ion-ios-close-empty{
            padding: 7px 0px 0 0;
            font-size: 60px;
            background-color: @black;
            &:hover{
                cursor: pointer;
                transition: @transition;
                background-color: darken(@black, 2%);
            }
            &:focus{
                transition: @transition;
                background-color: darken(@black, 2%);
            }
            &:active{
                transition: @transition;
                background-color: darken(@black, 4%);
            }
        }
        &:hover{
            cursor: pointer;
            transition: @transition;
            background-color: fade(@black, 8%);
        }
        &:focus{
            transition: @transition;
            background-color: fade(@black, 8%);
        }
        &:active{
            transition: @transition;
            background-color: fade(@black, 15%);
        }
        @media only screen and (min-width: 780px) {
            display: none;
        }
    }
    h1{
        color: @white;
        display: inline-block;
        box-sizing: border-box;
        padding: 5px 0;
        font-size: 22pt;
        line-height: 0.9em;
        font-weight: 100;
        height: @headerheight;
        text-transform: uppercase;
        padding: 12px 0 0 15px;
        letter-spacing: -1px;
        @media only screen and (min-width: 450px) {padding: 12px 0 0 0}
        b{
            font-weight: 900;
            letter-spacing: 1.05px;
            display: block;
        }
    }
    nav{
        position: fixed;
        top: 90px;
        right: 0;
        padding: 6px 0;
        display: none;
        background-color: @black;
        .shadow(2);
        @media only screen and (min-width: 450px) {right: 8%;}
        @media only screen and (min-width: 700px) {right: 12%;}
        @media only screen and (min-width: 1000px) {right: 15%;}
        @media only screen and (min-width: 780px) {
            display: inline-block;
            background-color: transparent;
            box-shadow: none;
            top: 30px;
        }

        ul{
            box-sizing: border-box;
            height: auto;
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
            @media only screen and (min-width: 780px) {
                display: inline-block;
                vertical-align: middle;
            }
            li{
                text-align: center;
                width: 100%;
                box-sizing: border-box;
                padding: 3px 20px;
                @media only screen and (min-width: 780px) {
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    padding: 0;
                    &:last-child{
                        a{
                            padding: 5px 0 5px 15px;
                        }
                    }
                }
                a{
                    color: @white;
                    display: block;
                    text-transform: uppercase;
                    font-weight: lighter;
                    letter-spacing: 1px;
                    font-size: 14pt;
                    box-sizing: border-box;
                    padding: 10px 40px;
                    width: 100%;
                    text-align: center;
                    line-height: 100%;
                    &:hover,
                    &:focus{
                        background-color: fade(@white, 3%);
                        @media only screen and (min-width: 780px) {
                            color: lighten(@white, 50%);
                            background-color: transparent;
                            transition: @transition;
                        }
                    }
                    &:active{
                        background-color: fade(@white, 6%);
                    }
                    @media only screen and (min-width: 780px) {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 5px 10px;
                        font-size: 9pt;
                        font-weight: 400;
                        margin-top: 26px;
                        color: fade(@white, 80%);
                    }
                }
            }
        }
    }
}
