@media only screen and (max-width: 1020px) {


	/*Shrink Nav*/
	nav ul li a{
		font-size: 12pt;
		padding-right: 38px;
	}

	/*Shrink Social links*/
	.quarter_box h2{
		font-size: 16pt;
	}

}

@media only screen and (max-width: 885px) {

	.mobileonly{display: block;}

	/*Mobile Menu*/
	#mobile_menu_button{
		position: absolute;
		top: 0;
		right: 2.5%;
		top: 18px;
		font-size: 22pt;
		z-index: 5000;
		color: #fff;
		font-weight: 300;
		transition:0.25s;
		text-transform: uppercase;
	}
		#mobile_menu_button i{
			font-size: 32pt;
			position: relative; top: 5px;
			padding-left: 5px;
		}
		#mobile_menu_button:hover{
			cursor: pointer;
			letter-spacing: 2px;
			font-weight: 400;
			transition:0.25s;
		}#mobile_menu_button:hover i{letter-spacing: 0px;}
	/*Shrink Nav*/
	nav ul{
		display: none;
		list-style-type:none;
		position: relative;
		left: -2.5%;
		padding: 0; margin: 0 auto;
		top:0px;
		width: 105%;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		z-index: 5000;
	}
		nav ul li{
			display: block;
			margin-right: 0px;
			background-color: #1F222D;
		}

		nav ul li a{
			color:#fff;
			font-weight: 700;
			font-size: 16pt;
			border-bottom: 1px solid #2B2F3E;
			padding-top: 14px; padding-bottom: 14px;
			display: inline-block;
			padding-left: 35px;
			display: block;
			width: 100%;
		}


	
	/*Fix last social link*/
	.quarter_box:nth-child(4){
		display: none;
	}
	.quarter_box{
		width:33%;
	}

	/*Shrink Footer*/
	footer{
		font-size: 8pt;
		line-height: 1.5em;
	}
	

	/*Body stuff for home page*/
		#issue_desc{
			width:60%;
			float: left;
			padding: 0 35px 0 35px;
			box-sizing:border-box;
		}
			#issue_desc h1{
				font-size: 26pt;
				padding-bottom: 15px;
			}
				#issue_desc ul{
					padding: 0;
					list-style-type: none;
				}
				#issue_desc ul li{
					padding-bottom: 10px;
					font-size: 11pt;
				}


		#issue_cover{
			width:40%;
			height: auto;
			padding-bottom: 55px;
		}
			#issue_cover img{
				width:95%;
			}

}


@media only screen and (max-width: 780px) {



   	/*Fix last social link*/
	.quarter_box:nth-child(4){
		display: none;
	}


	/*Shrink Footer*/
	footer{
		font-size: 8pt;
		line-height: 1.5em;
	}
		#footer_left{
			width:100%;
			text-align: center;
		}
		#footer_right{
			display: none;
		}
}


@media only screen and (max-width: 640px) {



   	/*Fix last social link*/
	.quarter_box:nth-child(4),
	.quarter_box:nth-child(1){
		display: none;
	}
	.quarter_box{
		width:50%;
	}



	/*Body stuff for home page*/
		#issue_desc{
			width:100%;
			padding: 0 15px 0 15px;
		}
			#issue_desc h1{
				text-align: center;
				padding-bottom: 15px;
			}
				#issue_desc ul{
					padding-bottom: 15px;
				}
				#issue_desc ul li{
					font-size: 13pt;
				}


		#issue_cover{
			width:100%;
			padding-bottom: 75px;
		}
			#issue_cover img{
				width:30%;
			}

}


@media only screen and (max-width: 420px) {



   	/*Fix last social link*/
	.quarter_box:nth-child(4),
	.quarter_box:nth-child(3),
	.quarter_box:nth-child(1){
		display: none;
	}
	.quarter_box{
		width:100%;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}
		.quarter_box h2{
			padding-left: 0;
			font-size: 20pt;
		}

	footer{
		font-size: 6pt;
		line-height: 1.5em;
	}


	/*Body stuff for home page*/
		#issue_desc{
			width:100%;
			text-align: left;
			padding: 0 35px 0 35px;
			box-sizing:border-box;
		}
			#issue_desc h1{
				font-size: 26pt;
				padding-bottom: 15px;
			}
				#issue_desc ul{
					padding: 0;
					list-style-type: none;
				}
				#issue_desc ul li{
					padding-bottom: 14px;
				}


		#issue_cover{
			width:100%;
			height: auto;
			padding-bottom: 55px;
		}
			#issue_cover img{
				width:65%;
			}

}